<html>
    <head>
        <title> New Message From <%= name %></title>
    </head>
    <body>
        <p>
        Hey Ananya, You got a new message from <%=name %> and the following content:- </br>
        Message : <%= message %> </br>
        Email : <%= email %>

    </p>
    </body>
</html>