@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

section {
  padding: 100px 0px;
}

.About .Introduction,
.contact .contact-items,
.skills .skills-content,
.Projects .Project-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* Common Section */
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #3aafa9;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #e85a4f;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

section:nth-child(2n + 1) {
  background-color: #3aafa9;
}
section:nth-child(2n + 1) .card {
  background-color: white;
}
section:nth-child(2n) .card {
  background-color: #2b7a78;
}
/* Navigation Bar */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: #17252a;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .Logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #f8ffae;
  text-decoration: underline;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* Menu Button */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}
/* Menu Button */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home section styling */
.home {
  display: flex;

  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 30px;
}
.home .home-content .txt1 {
  font-size: 27px;
  color: #17252a;
}
.home .home-content .txt2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .txt3 {
  font-size: 40px;
  margin: 5px 0;
  color: #17252a;
}
.home .home-content .txt3 span {
  color: #76ffac;
  font-weight: 500;
}
.horizontal {
  list-style: none;
  padding-left: 0px;
}
.horizontal li {
  display: inline-block;
  margin: 0px 3% 3% 0px;
}
.social-icons {
  margin: 10% 10% 10% 0;
}
.social-icons i {
  height: 80px;
  width: 80px;
  color: black;
  transition: all 0.3 ease-in-out;
}
.social-icons i:hover {
  transform: scale(1.5);
}
/* .home .home-content a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  color: crimson;
  background: none;
} */
/* About Section */
.About .Introduction .left {
  width: 45%;
}
.About .Introduction .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.About .Introduction .right {
  width: 55%;
}
.About .Introduction .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.About .Introduction .right .text span {
  color: crimson;
}
.About .Introduction .right p {
  text-align: justify;
}
.About .Introduction .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.About .Introduction .right a:hover {
  color: crimson;
  background: none;
}

/* .edu {
  width: 80%;
  position: relative;

  
} */
/* .anim-box {
  position: relative;
  margin: 4px;
  width: 40%;
  left: 4%;
  min-height: 170px;
  border: 2px solid rgb(67, 202, 226);
  border-radius: 5%;
  padding-left: 4%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.anim-box:nth-child(2n) {
  left: 53%;
}
.anim-box:nth-child(2n)::after {
  content: "";
  position: absolute;
  top: 30%;
  left: -10.5%;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
  background-color: rgba(114, 114, 209, 0);
  z-index: 1;
} */
/* .anim-box:nth-child(2n + 1)::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -13%;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
  background-color: rgba(114, 114, 209, 0);
  z-index: 1;
} */
.edu .title::before {
  background: #3aafa9;
}
.edu .title::after {
  background: #111;
  content: "";
}
.container {
  width: 80%;
  position: relative;
  left: 10%;
}
.timeline {
  position: relative;
  left: 5%;
  margin-bottom: 5%;
  font-family: "Oxygen", sans-serif;
}
.timeline h3 {
  margin: 4%;
  line-height: 140%;
  text-decoration: underline;
}
.timeline .details {
  margin: 3%;
}
/* .timeline h4 {
  font-family: "Domine", serif;
} */
.timeline:nth-child(2n) {
  left: 58%;
}
.container .card {
  width: 40%;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container .box img {
  height: 100px;
  width: 100px;
}
.edu .divider {
  width: 0px;
  position: absolute;
  height: 80%;
  border: 2px white dashed;
  left: 51%;
  top: 10%;
}
.progress {
  position: sticky;
  top: 40%;
  transform: rotate(90deg);
}
.progress img {
  height: 40px;
  width: 40px;
}
/* Projects */
.Projects {
  color: #111;
}
.Projects .title::before {
  background: #fff;
}
.Projects .title::after {
  background: #3aafa9;
  content: "";
}
.Projects .Project-content .card {
  width: calc(33% - 20px);
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #2b7a78;
}
.card:hover {
  background: crimson;
}
.card .box {
  transition: all 0.3s ease;
}
.card:hover .box,
.card:hover .deets {
  transform: scale(1.05);
}
.Projects .Project-content .card {
  transition: 0.7 ease-in-out;
  margin-bottom: 3%;
}

.Projects .Project-content .card i {
  font-size: 50px;
  color: crimson;
  transition: color 0.3s ease;
}
.Projects .Project-content .card:hover i {
  color: #fff;
}
.Projects .Project-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* .deets {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.card .show {
  height: fit-content;
  overflow: auto;
} */

.skills .title::after {
  content: "My skills";
}
.skills {
  color: #111;
}
.skills .skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skills-content .card {
  margin: 3%;
  border-radius: 4px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skills-content .card .box {
  box-sizing: border-box;
}
.skills-content .card .box img {
  max-height: 140px;
  height: 10%;
  min-height: 40px;
  width: calc(height);
  border-radius: 4px;
  background-color: white;
}

.contact .title::after {
  content: "Get in touch";
}
.contact .contact-items .col {
  width: calc(50% - 30px);
}
.contact .contact-items .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-items .left p {
  text-align: justify;
}
.contact .contact-items .left .icons {
  margin: 10px 0;
}
.contact .contact-items .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-items .row .info {
  margin-left: 30px;
}
.contact .contact-items .row i {
  font-size: 25px;
  color: crimson;
}
.contact .contact-items .info .head {
  font-weight: 500;
}
.contact .contact-items .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  height: 47px;
  width: 170px;
}
.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover {
  color: crimson;
  background: none;
}

/* responsive media query start */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .About .Introduction .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
  .Projects .Project-content .card {
    width: 100%;
  }
}
@media (max-width: 947px) {
  .edu .divider {
    left: 6%;
  }
  .container {
    left: 4%;
    width: 100%;
  }
  .timeline:nth-child(2n) {
    left: 10% !important;
    width: 80%;
  }
  .timeline:nth-child(2n + 1) {
    width: 80%;
    left: 10%;
  }

  /* .timeline:nth-child(2n + 1)::after,
  .timeline:nth-child(2n)::after {
    left: -12%;
  } */
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #3aafa9;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .txt2 {
    font-size: 70px;
  }
  .home .home-content .txt3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .About .Introduction .col {
    width: 100%;
  }
  .About .Introduction .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .About .Introduction .right {
    flex: 100%;
  }
  .Projects.Project-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .col,
  .contact .contact-items .col {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .skills .skills-content {
    width: 95%;
  }
  .edu .divider {
    left: 1.5%;
  }
  .container {
    left: 4%;
    width: 100%;
  }
  .timeline:nth-child(2n) {
    left: 5% !important;
    width: 90%;
  }
  .timeline:nth-child(2n + 1) {
    width: 90%;
    left: 5%;
  }
  .skills-content .card .box img {
    height: 80px;
    width: 80px;
  }
  .social-icons {
    margin: 5% 5% 5% 0;
  }
  .social-icons i {
    height: 60px;
    width: 60px;
    color: black;
    transition: all 0.3 ease-in-out;
  }
  .horizontal li {
    display: inline-block;
    margin: 0px 1% 1% 0px;
  }
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .txt2 {
    font-size: 60px;
  }
  .home .home-content .txt3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 0px;
  }
}

@media (max-width: 500px) {
  .home .home-content .txt2 {
    font-size: 50px;
  }
  .home .home-content .txt3 {
    font-size: 27px;
  }
  .About .Introduction .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
